<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TestModule">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0710793942695045 0.224436776879595 0.0126475230386502"
        rpy="0 0 0" />
      <mass
        value="0.395521671326912" />
      <inertia
        ixx="0.00739500661937209"
        ixy="-0.00184904017859878"
        ixz="-0.000132078310134095"
        iyy="0.000839038846726317"
        iyz="-0.000709548257376262"
        izz="0.00794616283859888" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TestModule/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TestModule/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>